@{
    ViewData["Title"] = "BEM VINDO";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo a Clínica ACME</h1>
    <p> Escolha o que você deseja fazer abaixo!!!</p>
    <a class="btn btn-success" asp-controller="Pacientes" asp-action="Index">PACIENTES</a>
    <a class="btn btn-success" asp-controller="Atendimentos" asp-action="Index">ATENDIMENTOS</a>


</div>
